In [108]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectKBest, f_classif

In [109]:
df_encoded1 = df_winsorized.copy()

In [110]:
for col in df_encoded1.columns:
    print(f"\nColumn: {col}")
    print(df_encoded1[col].unique())

Column: ID
[ 24890  24891  24892 ... 173557 173558 173559]

Column: year
[2019]

Column: loan_limit
['cf' 'Unknown' 'ncf']

Column: Gender
['Sex Not Available' 'Male' 'Joint' 'Female']

Column: approv_in_adv
['nopre' 'pre' 'Unknown']

Column: loan_type
['type1' 'type2' 'type3']

Column: loan_purpose
['p1' 'p4' 'p3' 'p2' 'Unknown']

Column: Credit_Worthiness
['l1' 'l2']

Column: open_credit
['nopc' 'opc']

Column: business_or_commercial
['nob/c' 'b/c']

Column: loan_amount
[116500. 206500. 406500. 456500. 696500. 706500. 346500. 266500. 376500.
 436500. 136500. 466500. 226500.  76500. 356500. 156500. 586500. 306500.
 316500. 336500. 426500. 476500. 196500. 186500. 246500. 216500. 506500.
 656500. 256500. 396500. 166500. 236500. 796500. 416500. 386500. 596500.
 606500.  86500. 286500. 146500. 446500. 636500. 486500. 326500.  56500.
 496500. 106500. 126500. 296500. 176500. 566500. 686500. 556500. 676500.
 366500. 276500. 716500.  66500. 616500.  96500.  26500. 666500. 546500.
 526500. 726500. 536500. 516500.  46500. 576500. 626500. 646500. 776500.
 746500. 736500. 786500. 766500. 756500.  36500.  16500.]

Column: rate_of_interest
[3.99  4.56  4.25  4.    4.5   4.125 4.875 3.49  4.375 3.625 3.175 3.
 4.99  5.    3.75  3.375 3.25  3.875 3.5   4.75  3.125 4.49  4.625 3.7
 4.18  3.69  3.65  3.775 3.56  4.475 3.4   3.925 3.45  4.275 3.725 3.675
 3.55  3.93  3.85  3.525 3.025 3.8   3.05  3.325 3.825 3.15  3.1   4.4
 3.3   4.05  4.025 3.475 3.225 3.575 4.175 3.9   3.075 3.275 3.425 3.2
 3.6   3.35  4.225 3.95  4.7   4.2   3.975 4.075 4.44  4.15  4.1   4.35
 4.3   4.425 4.525 4.55  4.95  4.82  4.325 3.74 ]

Column: Interest_rate_spread
[ 0.3904  0.2     0.681  ... -0.3226  0.7874 -0.3247]

Column: Upfront_charges
[2600.    595.      0.   ... 3113.06 1226.64 4323.33]

Column: term
[360.]

Column: Neg_ammortization
['not_neg' 'neg_amm' 'Unknown']

Column: interest_only
['not_int' 'int_only']

Column: lump_sum_payment
['not_lpsm' 'lpsm']

Column: property_value
[ 118000.  418000.  508000.  658000.  758000. 1008000.  438000.  308000.
  478000.  688000.  168000.  708000.  258000.  298000.  138000.  368000.
  598000.  748000.  558000.  198000.  448000.  428000.  568000.  218000.
  468000.  228000.  318000.  338000.  538000.  408000. 1018000. 1063000.
  528000.  248000.  608000.  668000.  808000.  948000.  128000.  238000.
  718000.  888000.  148000.  628000.  928000.  208000.  188000.  588000.
  678000.  358000.  288000.  578000.  348000.   88000.  498000.  818000.
  768000.  388000.  618000.  898000.  278000.  978000.  858000.  458000.
  638000.  648000.  908000.  798000.  378000.  158000.  828000.  398000.
  108000.   78000.  488000.  548000.  788000.  518000.  938000.  178000.
  838000.  328000.  998000.  738000.  778000.  728000.   98000.  958000.
  268000.   68000.  878000.  698000. 1048000.  988000.  848000.  868000.
 1028000.  918000. 1038000. 1058000.  968000.   58000.   48000.   38000.
    8000.   28000.   18000.]

Column: construction_type
['sb' 'mh']

Column: occupancy_type
['pr' 'sr' 'ir']

Column: Secured_by
['home' 'land']

Column: total_units
['1U' '2U' '3U' '4U']

Column: income
[ 1740.  4980.  9480. 11880. 10440. 10080.  5040.  3780.  5580.  6720.
  4020.  9540.  5760.  7860.  2220.  5340.  3120. 12540. 14940.  2100.
  2880.  2760.  8940.  6780.  3840.  4920.  5400.  3720.  7500.  3540.
  9180.  9660.  7560.  9060.  3480.     0. 13620.  7380.  9600.  3360.
  4560.  3300.  4140.  6000.  6600. 11340.  7080.  4800.  8520.  7140.
  5820. 12000.  5880.  8400.  5520.  2040.  8580. 10740.  2400. 12600.
  5700.  2580.  8700.  8160.  5640.  7980.  9840. 11460.  3660.  7440.
  2940.  3000. 14640.  7680.  6840. 10260. 12180.  6060.  5220.  2640.
  4200.  4440. 11400.  3240.  6540.  5280.  8280. 11760.  4680. 10020.
  9000.  8640.  3960.  3600.  6180.  2520. 10200. 11640. 13560. 14220.
 10800.  6660.   840.  7020.  1500.  6480.  1860.  9900.  3180.  6960.
  1980. 13140.  8760.  1260.  4320.  1680.  2460.  8220.  1380. 12240.
  7620.  4260.  9960. 13500.  7320.  5100.  2700.  2280.  4620.  5460.
  8100.  8880. 12120.  9360.  9120. 12060.  4860.  7920.  1140.  7200.
  3420.  6360.  8340.  4080.  1620.  8040.  3060.  9300.  5160.  8820.
  4380. 10860.  8460.  6300. 12420.  5940. 11160.  1320.  6120. 12660.
 11220.  9720.  2820.  4740.  1920.  6240.  1800. 12360.  4500. 10500.
  7260.  7800. 10980.  9420. 14160.  6900. 12840. 11520.  2160. 12300.
 13860. 14340. 11100. 10380. 13080.  3900. 13440.  6420.  9780. 11820.
  2340. 14100. 14580. 10560. 13200. 12480. 10620.  1440. 10140. 10920.
  9240. 14880.  7740.  1560. 12960. 13800. 14820. 13380. 14760. 13920.
 14460. 10680. 13680. 11940.   420. 12900.  1200. 10320. 11700. 13020.
   960. 11280. 14280. 12780. 14400. 13320. 11040. 11580.  1080. 14520.
 12720.   660. 14700.   360. 13260. 14040. 13740.  1020. 13980.   300.
   900.   720.   240.   540.   600.   780.   480.    60.   180.   120.]

Column: credit_type
['EXP' 'EQUI' 'CRIF' 'CIB']

Column: Credit_Score
[758 552 834 587 602 864 860 863 580 788 723 501 884 520 773 685 846 534
 629 688 668 692 620 533 518 812 647 683 705 701 591 889 651 716 780 799
 766 868 765 673 876 886 772 640 798 858 543 555 603 808 519 786 769 556
 567 632 818 584 750 838 741 820 665 783 663 612 739 571 870 793 804 801
 711 634 764 865 593 511 677 774 638 644 732 586 642 872 898 734 639 506
 664 670 577 857 653 595 787 560 613 514 867 717 619 600 524 883 503 887
 604 648 797 806 845 815 585 729 538 791 671 572 755 760 578 836 900 777
 667 880 568 805 590 892 540 869 737 831 608 803 795 674 781 545 796 660
 850 851 794 866 611 621 862 829 848 775 733 700 633 702 882 686 652 844
 649 557 761 569 523 740 690 616 782 601 809 855 768 627 854 762 746 592
 703 697 710 522 789 693 597 680 575 694 581 678 714 871 800 853 718 713
 874 625 626 500 695 517 759 792 822 516 704 605 539 598 763 515 508 529
 830 551 715 802 879 743 699 617 661 896 856 861 767 656 875 778 893 785
 779 565 753 852 719 744 770 614 888 547 728 618 574 505 807 530 814 843
 635 824 559 837 847 885 630 589 654 724 527 738 811 546 537 594 658 583
 666 742 512 877 706 727 698 609 623 544 645 657 712 513 771 736 536 828
 588 730 731 646 563 525 784 725 752 756 833 561 570 899 890 720 722 526
 553 596 549 709 735 776 881 669 726 535 745 636 684 827 672 573 816 707
 607 817 873 810 679 558 624 825 708 502 659 757 599 749 894 541 675 615
 641 682 628 582 832 550 528 509 821 849 691 826 662 504 676 579 689 622
 721 835 532 751 748 610 754 878 823 562 548 631 637 606 687 564 696 819
 839 840 747 681 566 891 790 897 542 813 859 650 842 521 841 531 643 655
 507 576 510 554 895]

Column: co-applicant_credit_type
['CIB' 'EXP']

Column: age
['25-34' '55-64' '35-44' '45-54' '65-74' '>74' '<25']

Column: submission_of_application
['to_inst' 'not_inst']

Column: LTV
[98.72881356 75.12254902 80.01968504 ... 66.73703257 41.49550706
 32.80201342]

Column: Region
['south' 'North' 'central' 'North-East']

Column: Security_Type
['direct' 'Indriect']

Column: Status
[1 0]

Column: dtir1
[45.  39.  46.  42.  40.  44.  30.  36.  51.  20.  31.  16.5 35.  34.
 49.  37.  41.  38.  56.  23.  28.  27.  55.  22.  24.  52.  33.  26.
 47.  60.  25.  32.  53.  19.  48.  59.  57.  50.  21.  58.  29.  43.
 17.  54.  60.5 18. ]

In [111]:
label_encoders = {}   # store encoders for later use
category_mappings = {}  # store category → code mapping

for col in df_encoded1.select_dtypes(include=["object"]).columns:
    le = LabelEncoder()
    df_encoded1[col] = le.fit_transform(df_encoded1[col].astype(str))
    
    # Save the encoder + mapping
    label_encoders[col] = le
    category_mappings[col] = dict(zip(le.classes_, le.transform(le.classes_)))

# Show mappings
for col, mapping in category_mappings.items():
    print(f"{col}: {mapping}")

loan_limit: {'Unknown': 0, 'cf': 1, 'ncf': 2}
Gender: {'Female': 0, 'Joint': 1, 'Male': 2, 'Sex Not Available': 3}
approv_in_adv: {'Unknown': 0, 'nopre': 1, 'pre': 2}
loan_type: {'type1': 0, 'type2': 1, 'type3': 2}
loan_purpose: {'Unknown': 0, 'p1': 1, 'p2': 2, 'p3': 3, 'p4': 4}
Credit_Worthiness: {'l1': 0, 'l2': 1}
open_credit: {'nopc': 0, 'opc': 1}
business_or_commercial: {'b/c': 0, 'nob/c': 1}
Neg_ammortization: {'Unknown': 0, 'neg_amm': 1, 'not_neg': 2}
interest_only: {'int_only': 0, 'not_int': 1}
lump_sum_payment: {'lpsm': 0, 'not_lpsm': 1}
construction_type: {'mh': 0, 'sb': 1}
occupancy_type: {'ir': 0, 'pr': 1, 'sr': 2}
Secured_by: {'home': 0, 'land': 1}
total_units: {'1U': 0, '2U': 1, '3U': 2, '4U': 3}
credit_type: {'CIB': 0, 'CRIF': 1, 'EQUI': 2, 'EXP': 3}
co-applicant_credit_type: {'CIB': 0, 'EXP': 1}
age: {'25-34': 0, '35-44': 1, '45-54': 2, '55-64': 3, '65-74': 4, '<25': 5, '>74': 6}
submission_of_application: {'not_inst': 0, 'to_inst': 1}
Region: {'North': 0, 'North-East': 1, 'central': 2, 'south': 3}
Security_Type: {'Indriect': 0, 'direct': 1}

In [112]:
df_encoded1['Status'].value_counts()

Status
0    112031
1     36439
Name: count, dtype: int64